doctype html
html(lang='en')
	head
		meta(charset='utf-8', content='text/html')
	body
		p Automated email of daily TPV numbers
		br
		div(style='margin-left:auto; margin-right: auto; width: 70%')
			:markdown
				|    Date   |  Vertical |  Txn_Amount |  Txn_Count  |
				|:---------:|:---------:|:-----------:|:-----------:|
				| #{date} 	|    SRP    |  #{s_t}   	|   #{s_c}    |
				| #{date} 	|    Dues   |  #{d_t}  		|  	#{d_c} 		|
				| #{date} 	|    VRP    |  #{v_t} 		|   #{v_c}   	|
				| #{date} 	| NonProfit |  #{n_t}    	|   #{n_c}   	|
				| #{date} 	|    Inn    |  #{i_t}   	|   #{i_c}    |
				| #{date} 	|     HA    |  #{h_t}   	|   #{h_c}  	|
				| #{date} 	|    Rent   |  #{r_t}   	|   #{r_c}   	|

